{%  extends 'web/base.html' %}

{% block content %}
    Hi! This is index page of website. 리스트 뷰를 사용하였습니다. ( ListView )<br/>

    <nav>
        <ul>
            <li><a href="{% url 'web:index' %}">홈페이지</a></li>
            <li><a href="{% url 'web:intro' %}">농장 소개</a></li>
            <li><a href="{% url 'web:board' %}">게시판</a></li>

            <!-- Mypage 제작 필요 -->
        </ul>
    </nav>
    <ul>
        <li><a href="{% url 'web:register' %}">회원가입</a></li>
        <li><a href="{% url 'web:login' %}">로그인</a></li>
        <li><a href="{% url 'web:logout' 1 %}">로그아웃</a></li>
    </ul>



    {% if product_list %}
        <ul>
            {% for product in product_list %}
                <li><a href="{% url 'web:detail' product.id %}">{{ product.name }}</a></li>
            {% endfor %}
        </ul>

    {% else %}
        <p> No Product's are available.</p>
    {% endif %}

{% endblock content %}
<ul>
